.env
data/raw/
data/processed/
*.pb
*.zip
__pycache__/
.pytest_cache/
.venv/
target/
dbt_packages/
logs/
data/raw/geospatial/
data/raw/equity/
data/processed/geospatial/*.parquet
data/processed/equity/*.parquet
