.env
data/raw/
data/processed/
*.pb
*.zip
__pycache__/
.pytest_cache/
.venv/
target/
dbt_packages/
logs/
dbt_transit_equity/target/
dbt_transit_equity/logs/
dbt_transit_equity/dbt_packages/
dbt_transit_equity/profiles.yml
data/raw/geospatial/
data/raw/equity/
data/processed/geospatial/*.parquet
data/processed/equity/*.parquet
